@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}

	.text-dark_light {
		@apply dark:text-white text-gray-900;
	}
}

@layer base {
	:root {
		--background: 252 6% 95%;
		--foreground: 252 5% 10%;
		--card: 252 6% 90%;
		--card-foreground: 252 5% 15%;
		--popover: 252 6% 95%;
		--popover-foreground: 252 95% 10%;
		--primary: 252 67% 56%;
		--primary-foreground: 0 0% 100%;
		--secondary: 252 10% 70%;
		--secondary-foreground: 0 0% 0%;
		--muted: 214 10% 85%;
		--muted-foreground: 252 5% 40%;
		--accent: 214 10% 80%;
		--accent-foreground: 252 5% 15%;
		--destructive: 0 50% 50%;
		--destructive-foreground: 252 5% 90%;
		--border: 252 20% 53%;
		--input: 252 20% 50%;
		--ring: 252 67% 56%;
		--radius: 0.75rem;

		--sidebar-background: var(--background);
		--sidebar-foreground: var(--foreground);
		--sidebar-primary: var(--primary);
		--sidebar-primary-foreground: var(--primary-foreground);
		--sidebar-accent: var(--accent);
		--sidebar-accent-foreground: var(--accent-foreground);
		--sidebar-border: var(--border);
		--sidebar-ring: var(--ring);
	}

	.dark {
		--background: 252 10% 10%;
		--foreground: 252 5% 90%;
		--card: 252 6% 10%;
		--card-foreground: 252 5% 90%;
		--popover: 252 10% 5%;
		--popover-foreground: 252 5% 90%;
		--primary: 252 67% 56%;
		--primary-foreground: 0 0% 100%;
		--secondary: 252 10% 20%;
		--secondary-foreground: 0 0% 100%;
		--muted: 214 10% 25%;
		--muted-foreground: 252 5% 60%;
		--accent: 214 10% 25%;
		--accent-foreground: 252 5% 90%;
		--destructive: 0 50% 50%;
		--destructive-foreground: 252 5% 90%;
		--border: 252 20% 50%;
		--input: 252 20% 51%;
		--ring: 252 67% 57%;
		--radius: 0.75rem;

		--sidebar-background: var(--background);
		--sidebar-foreground: var(--foreground);
		--sidebar-primary: var(--primary);;
		--sidebar-primary-foreground: var(--primary-foreground);
		--sidebar-accent: var(--accent);
		--sidebar-accent-foreground: var(--accent-foreground);
		--sidebar-border: var(--border);
		--sidebar-ring: var(--ring);
	}
}

